<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347790048933-drakig4rbcqcn8jq02n7u7b2uq5gbrer.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347790048933-drakig4rbcqcn8jq02n7u7b2uq5gbrer</string>
	<key>API_KEY</key>
	<string>AIzaSyCw4rkfNrXzp1gzpcS5JFZXY_pc2KRtwP4</string>
	<key>GCM_SENDER_ID</key>
	<string>347790048933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hands.loliot</string>
	<key>PROJECT_ID</key>
	<string>loliot-a960c</string>
	<key>STORAGE_BUCKET</key>
	<string>loliot-a960c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347790048933:ios:a06d85f2d3348ad0e9d74c</string>
	<key>DATABASE_URL</key>
	<string>https://loliot-a960c.firebaseio.com</string>
</dict>
</plist>